# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# QCat Files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# imgui
**.ini
/SandBox/Asset/model/Robot/source/Robot.obj
/SandBox/Asset/model/Robot/textures/robot_steampunk_rough.tga.png
/SandBox/Asset/model/Robot/textures/robot_steampunk_nmap.tga.png
/SandBox/Asset/model/Robot/textures/robot_steampunk_metalness.tga.png
/SandBox/Asset/model/Robot/textures/robot_steampunk_color.tga.png
/SandBox/Asset/model/Robot/textures/robot_steampunk_ao.tga.png

QCat/3rdLib/VulkanSDK
QCat_Editor/Asset/cache
scripts/__pycache__