[submodule "QCat/3rdLib/spdlog"]
	path = QCat/3rdLib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "QCat/3rdLib/Imgui"]
	path = QCat/3rdLib/Imgui
	url = https://github.com/suha1515/imgui
[submodule "QCat/3rdLib/DirectXMath"]
	path = QCat/3rdLib/DirectXMath
	url = https://github.com/microsoft/DirectXMath
